.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  .list {
    background-color: #f6f6f6;
    width: 90%;
    border-radius: 20px;
    .item {
      margin: 15px;
      display: flex;
      justify-content: space-between;
      .data {
        h2 {
          font-weight: bold;
          margin: 0;
        }
        h3 {
          color: #006191;
        }
      }
      .buttons {
        color: #006191;
        display: flex;
        align-items: center;
      }
    }
  }
}
