::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #006191 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #006191 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #006191 !important;
}

.container {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .list-contacts {
    h2 {
      margin-left: 10vw;
      color: #006191;
    }
  }
}
